.sider {
  background-color: white !important;
  border-right: 1px solid #d9d9d9;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  :global {
    color: #2e3080;

    .ant-menu-item-selected {
      background: #2e3080;
      color: white;
    }
  }
}
